.banner{
  margin-top: 7.5rem;
  background-image : url(/css/banner.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
}

header {
    /*background-color: #f8e7c6;*/
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  nav ul {
    list-style: none;
    margin: 5;
    padding: 5;
  }

  nav li {
    display: inline-block;
    margin-right: 20px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  nav a:hover {
    color: #1BF7DE;
  }

  @media (max-width: 767px) {
    header {
        background-color: #d4d4c7;
    }
  }

  @media (max-width: 767px) {
    nav {
        font-size: 20px;
    }
  }

  @media (min-width: 1200px) {
    header {
        width: 1200px;
    }
  }
 
  .navbar.navbar-expand-lg{
  /*.container-nav {*/
    display: flex;
    padding: 0px;
    height: 90px;
    background-color: black;
    
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
  a {
    color: white;
    text-decoration:none;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }

  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 20px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
  }

  h1{
    font-family:'Arial' , sans-serif;
      font-size: 36px;
      text-align: center;
      color: cadetblue;
    
  }

  h2{
    color: rgb(57, 94, 94);
  }
  
  p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslategray;
    font: size 18px;
    margin: 20px;
    }
  
  /*body{
   color:rgb(204, 227, 247);
    background: rgb(230, 220, 215);
    
  }*/


  

  .container{
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

  .row{
     display: flex;
     flex-wrap: wrap;
     margin: 10px;
  }

  .column{
    flex: 1;
    padding: 10px;
  }

  @media(max-width: 600px) {
    .column{
        flex: 100%;
    }
  }

  #myForm {
    color: rgb(57, 94, 94);
  }

  .img {
    display: flex;
  }

  .footer.navbar {
    background-color: black;
   
    justify-content: center;
    display: flex;
    width: 100%;
    height: 20%;
    padding: 3rem;
 }

 .text-center{
    text-align: center!important;
  }

 p {
    
    font-size: 1.2rem;
 }

 /*redes*/
i.fa-brands.fa-facebook.fa-2xl,
i.fa-brands.fa-linkedin.fa-2xl,
i.fa-brands.fa-instagram.fa-2xl,
i.fa-brands.fa-github.fa-2xl,
i.fa-solid.fa-user-lock.fa-2xl
 
{
    color: #fff;
 }

i.fa-brands.fa-facebook.fa-2xl:hover{
   color:blue;
}

i.fa-brands.fa-linkedin.fa-2xl:hover{
    color:rgb(8, 127, 246);
 }

 i.fa-brands.fa-instagram.fa-2xl:hover{
    color:rgb(218, 159, 246);
 }

 i.fa-brands.fa-github.fa-2xl:hover{
    color:rgb(58, 5, 181);
 }

 i.fa-solid.fa-user-lock:hover{
    color:rgb(146, 61, 185);
 }

.list-group{
 --bs-list-group-bg:#bbc4d6; ;
}